if showLogin
  .container
    h1 🌱 ZeroWaste Connect
    p(style="text-align:center") Welcome back!

    form(action="/login" method="POST")
      input(type="email" name="email" placeholder="Email Address" required)
      input(type="password" name="password" placeholder="Password" required)
      button(type="submit") Sign In

    p(style="text-align:center")
      | Don't have an account?
      a(href="/register") Register here

else if showForm
  .container(style="width:600px")
    h2 Post a Food Listing

    form(action="/items" method="POST" enctype="multipart/form-data")
      input(type="text" name="food_name" placeholder="Food Name" required)
      textarea(name="description" placeholder="Description")
      input(type="text" name="quantity" placeholder="Quantity" required)
      input(type="file" name="photo")
      input(type="date" name="best_before" required)
      input(type="text" name="collection_location" placeholder="Location" required)
      input(type="text" name="collection_times" placeholder="Collection Times" required)
      button(type="submit") Post Listing

    a(href="/items") ← Back to Listings

else
  .container(style="width:600px")
    h2 Food Listings

    if items && items.length
      ul
        each item in items
          li
            strong #{item.name}
            |  - Qty: #{item.quantity}
    else
      p No listings yet

    a(href="/create") + Create Listing