doctype html
html
  head
    title ZeroWaste Connect
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css")
    // Font Awesome Icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")

  body
    .page-bg
      // ADVANCED NAVBAR
      nav.navbar-advanced
        .navbar-container
          a.navbar-logo(href="/")
            i.fas.fa-leaf
            span ZeroWaste Connect
          
          button.hamburger(id="hamburger")
            span
            span
            span
          
          .nav-links-advanced
            a.nav-link(href="/") 
              i.fas.fa-home
              | Home
            a.nav-link(href="/foodlistings")
              i.fas.fa-utensils
              | Browse
            
            .user-menu
              if user
                .user-info
                  img.avatar(src=user.avatar || "https://via.placeholder.com/40")
                  span.username #{user.name}
                .dropdown-menu
                  a.dropdown-item(href="/profile")
                    i.fas.fa-user
                    | My Profile
                  a.dropdown-item(href="/my-listings")
                    i.fas.fa-list
                    | My Listings
                  a.dropdown-item(href="/settings")
                    i.fas.fa-cog
                    | Settings
                  hr
                  a.dropdown-item.logout(href="/logout")
                    i.fas.fa-sign-out-alt
                    | Logout
              else
                a.nav-btn-login(href="/login") Sign In
                a.nav-btn-signup(href="/signup") Sign Up

      block content

    // Leaflet Script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js")
    script(src="/js/main.js")